<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Musteri Otomasyon</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Musteri_Otomasyon.styles.css" asp-append-version="true" />
    <style>
        #Menu_button{
           
            padding-left: 10px;
        }
        #menu {
            display: none;
            position:relative;
            background-color: white;
            
            border: 2px solid;
            border-color: lightskyblue;
        }
    </style>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Musteri_Otomasyon</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Musteri" asp-action="List">Müşteri Listesi</a>
                        </li>
                        <li class="nav-item" style="margin-left:auto; margin-right:5%">
                            <a href="#" class="nav-link text-dark" id="LogOut">Logout</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <ul style="list-style-type:none">
            <li><span id="Menu_button">Musteri Menu</span></li>
            <li>
                <div id="menu">
                    <div class="nav-column">
                        <ul style="list-style-type:none">
                            <li>Musteri Belgeleri</li>
                            <li>Musteri Hareketleri</li>

                        </ul>
                    </div>
                </div>
            </li>
        </ul>
        
       
        
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - Musteri_Otomasyon - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

    @await RenderSectionAsync("Scripts", required: false)
    <script>
        $("#LogOut").click(
            function () {
                swal({
                    title: "Uyarı",
                    text: "Oturumu kapatmak istediğinizden emin misiniz?",
                    buttons: true,
                    buttons: ['Hayır', "Evet"],
                    icon: "info",
                })
                    .then((Logout) => {
                        if (Logout) {
                            $.ajax({
                                type: "GET",
                                url: "/Admin/LogOut",
                                success: function () {
                                    swal({
                                        icon: "success",
                                        text: "Sistemden güvenli bir şekilde çıkış yaptınız.",
                                        buttons: false
                                    });
                                    function action() {
                                        swal.close();
                                        window.location.href = "/Admin/Login";
                                    };

                                    Timer = setTimeout(action, 3000);

                                    document.addEventListener("click", function () {
                                        clearTimeout(Timer);
                                        action();
                                    });
                                },
                                error: function () {
                                    swal({
                                        text: "Oturumunuz kaptılamadı.",
                                        icon: "error",

                                    })

                                }
                            })
                        }

                    }
                    )
            }
        )
    </script>
    <script>
        const menu = document.getElementById("menu");
        const menu_button = document.getElementById("Menu_button");

        menu_button.addEventListener("mouseover",
            function () {
                menu.style.display = "block";
            }
        );

        menu_button.addEventListener("mouseout",
            function () {
                menu.style.display = "none";
            }
        );
    </script>
</body>
</html>
